@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  border:solid 3px #41403E;
  padding: .1em .1em .1em .1em;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  font-size: 26px;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.inc-exp-container {
  background-color: #fff;
  padding: .1em;
  display: flex;
}

.inc-exp-container > span {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

button{
  align-self:center;
  background: #ff9d00;
  padding:0.5rem 0.5rem;
  margin:0 1rem;
  transition:all .5s ease;
  color:#000000;
  font-size:1rem;
  letter-spacing:0.5px;
  outline:none;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.plus, .income {
  color: #2ecc71;
}

.minus, .expense {
  color: #c0392b;
}
